.icon{
    font-size: 30px;
    color:rgb(0, 132, 255)
}
.card-title{
    font-weight:bolder;
}
.title1{
    font-weight: bold;
    
}
.title2{
    font-weight: bolder;
    
}
.icon .border{
     

    background-color: rgb(213, 235, 236);
}

